# Exploratory Data Analysis (EDA)

In the repo you will find a dataset with Portuguese wines from the UCI ML repository. The csv contains wine characteristics as well as a rating of the wine. A possible ML task would be to predict the quality of the wine based on its characteristics, but for now we'll focus on the EDA. The original dataset has been modified to make it a bit more complex in terms of EDA. You will have to apply what you've learnt so far into this dataset:

1- Read the dataset and do some basic univariate visualisation. Plot histograms or bar plots, depending on the type of variable. Plot box-plots for continuous variables. What distributions do you see? Do you see outliers?

2- Try to plot some graphs to analyse relationships between the wine characterisitics and the quality (scatterplots, violinplots...). Also, between the different wine characteristics to see what things are correlated to each other.

3- One of the variables, fixed acidity, has missing values. Can you find out if it's missing at random? Do you think you could use other variable's values to understand when is fixed acidity missing? 

Summarise all the information you have obtained on the relationship between wine characteristics and wine quality, as well as the problems in the data.

In [2]:
import pandas as pd

data = pd.read_csv('../data/winequality-white_modified.csv')
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,1.0,45.0,170.0,2.0,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,1.0,14.0,132.0,1.0,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,1.0,30.0,97.0,1.0,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,2.0,47.0,186.0,1.0,3.19,0.40,9.9,6
4,NaN,0.23,0.32,8.5,2.0,47.0,186.0,1.0,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.0,24.0,92.0,NaN,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,1.0,57.0,168.0,1.0,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.0,30.0,111.0,0.0,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,NaN,20.0,110.0,NaN,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,NaN,22.0,98.0,NaN,3.26,0.32,11.8,6